a {
	color: orange; 
}
h1, h2, h3 { 
	font-family: 'Ubuntu', arial, serif;
}
textarea{
	min-width: 400px;
}
input{
	min-width: 300px;
}
.tip{
	font-size: 80%;
	color: #aaa;
}
.input .tip{
	display:block;
	font-size: 80%;
	color: #aaa;
}
.bigger{
	font-size: 120%;
}
#secondNav{
	float:right;
}

div.c10{width:8%;}
div.c20{width:18%;}
div.c25{width:22%;}
div.c30{width:30%;}
div.c40{width:38%;}
div.c50{width:48%;}
div.c60{width:55%;}
div.c70{width:65%;}
div.c75{width:72%;}
div.c80{width:75%;}

div.c10,div.c20,div.c25, div.c30, div.c40, div.c50, div.c60, div.c70, div.c75, div.c80{
	overflow:hidden; float:left; margin-right:1%;
}
div.colContainer{overflow:hidden; }
div.colContainer div{clear:none;}

div.fRight{float:right;}
div.fLeft{float:left;}

.habtmSelector select[multiple]{
	width: 400px;
}

ul.projects{
	list-style:none;
	margin:0;
}
ul.projects li{
	margin: 0;
}
ul.projects li > div.project,
div.projMgmt{
	margin-top:10px;
	font-weight:normal;
	padding: 4px 8px;
	color:#333;
	border:1px solid #888;
	-webkit-border-radius:8px;
	   -moz-border-radius:8px;
		    border-radius:8px;
	text-decoration:none;
	text-shadow: #fff 0px 1px 0px;
	min-width: 0;
	background: #e6e6e6; /* Old browsers */
	background: -moz-linear-gradient(top,  #e6e6e6 0%, #f5f5f5 50%, #f2f2f2 51%, #f9f9f9 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e6e6e6), color-stop(50%,#f5f5f5), color-stop(51%,#f2f2f2), color-stop(100%,#f9f9f9)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e6e6e6 0%,#f5f5f5 50%,#f2f2f2 51%,#f9f9f9 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e6e6e6 0%,#f5f5f5 50%,#f2f2f2 51%,#f9f9f9 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e6e6e6 0%,#f5f5f5 50%,#f2f2f2 51%,#f9f9f9 100%); /* IE10+ */
	background: linear-gradient(top,  #e6e6e6 0%,#f5f5f5 50%,#f2f2f2 51%,#f9f9f9 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e6e6', endColorstr='#f9f9f9',GradientType=0 ); /* IE6-9 */
	overflow: hidden;
}
ul.projects div.actions, div.actions.autoWidth{
	width: auto;
}
ul.projects div.actions{
	float: right;
}
ul.projects div.actions li{
	margin-top:10px;
}

div.projMgmt{
	min-height: 100px;
}
div.projMgmt h3 a{
	text-decoration: none;
}

td.actions select, td.actionOptionsContainer select{ width: 100%; }

div#progressIndicator{
	width:300px;
	height: 20px;
	border: 1px solid #ffcc00;
}
div#progressIndicator div.progress{	
	width: 0%;
	height: 20px;
	background-color: #ffcc00;
}
div#progressIndicator span#progressTxt{
	color: #ffcc00;
	font-weight: bold;
	float:right;
}

div.actions.c80{width:70%;}

/**
 * 	Skills form
 */
#skillsForm div.skill{
	padding: 1em 0 0.5em;
}
.importedFieldName{text-align:right;}
.skillTypeDesc{margin-top: 1em;}
.skillTypeDesc dd{margin-left: 15em;}
.skillOption input{min-width:100px;}
.skillValueRange.numericRange input{min-width:0;}
.skillValueRange.textRange input{width:90%;}

#status .status_return dl dd{margin-left: 30em;}

/*	admin/projects/members */
#ProjectMembersForm{
	min-height: 300px;
}

div.launch{
	margin-top: 50px;
}

/* admin/teams/make */
#rules{
	margin-top: 20px;
}
.rule{
	padding: 10px 0;
	border-bottom: 1px solid #ccc;
}
.skillSelect select, .filterType select{
	max-width:100%;
}
.filterValue{
	padding-top:1em;
}
.filterValue div{
	display:inline;
}
.numberOfTeams label, .filterValue label, .numEachTeam label{
	display:inline;
}
.numberOfTeams input, .filterValue input, .numEachTeam input{
	min-width: 0; 
	width: 50px; height: 20px; padding: 2px;
	display:inline;
}
.textRangeFilterValue select{
	margin-top:6px;
}
.textRangeFilterValue label{
	vertical-align:text-top;
}
.textFilterValue .term input{
	width: 300px;
}
.rearrangeBtns, .actionsBtns{
	list-style:none;
}
.rearrangeBtns li, .actionsBtns li{
	margin:2px; padding:2px 0; cursor: pointer; float:left; list-style:none;
}
.actionsBtns{
	margin-top: 2em;
}
.actionsBtns a{
	padding: 5px 10px 5px 20px;
	text-decoration: none;
	color:#555;
}
.actionsBtns a span.ui-icon{
	float:left;
	left: 1.5em; top:50%; position:relative; 
}

.teams_make #log{ width: 80%; background: #ccc;}
